
:root{
    --naj-blue: #0000ff;
    --naj-lightblue: #1f78fe;
    --naj-darkblue: #000080;
    --naj-brightblue: #81b3fe;
    --naj-dark: #202124;
    --naj-hackgreen: #20c20e;
    --naj-gray: #808080;
    --naj-lightgray: #bdbebd;
    --naj-brightgray: #e9e9e9;
    --naj-darkgray: #545454;

    --nf-red:#e21c21;
    --nf-lightred:#e9494f;
    --nf-brightred:#ee777b;
    --nf-darkred:#710e11;
    --nf-haus-green:#28412c;
    --nf-haus-lightgreen:#47744f;
    --nf-haus-brightgreen:#69a373;
    --nf-haus-darkgreen:#142116;
}
.naj-blue
{background-color:var(--naj-blue)!important;color:#fff!important;}
.naj-lightblue
{background-color:var(--naj-lightblue)!important;color:#000!important;}
.naj-darkblue
{background-color:var(--naj-darkblue)!important;color:#fff!important;}
.naj-brightblue
{background-color:var(--naj-brightblue)!important;color:#000!important;}
.naj-dark
{background-color:var(--naj-dark)!important;color:#fff!important;}
.naj-hackgreen
{background-color:var(--naj-hackgreen)!important;color:#000!important;}
.naj-text-hackgreen
{color: var(--naj-hackgreen)!important;}
.naj-gray
{background-color:var(--naj-gray)!important;color:#fff!important;}
.naj-lightgray
{background-color:var(--naj-lightgray)!important;color:#000!important;}
.naj-brightgray
{background-color:var(--naj-brightgray)!important;color:#000!important;}
.naj-darkgray
{background-color:var(--naj-darkgray)!important;color:#fff!important;}

.nf-red
{background-color:var(--nf-red)!important;color:#fff!important;}
.nf-lightred
{background-color:var(--nf-lightred)!important;color:#000!important;}
.nf-brightred
{background-color:var(--nf-brightred)!important;color:#000!important;}
.nf-darkred
{background-color:var(--nf-darkred)!important;color:#fff!important;}
.nf-haus-green
{background-color:var(--nf-haus-green)!important;color:#fff!important;}
.nf-haus-lightgreen
{background-color:var(--nf-haus-lightgreen)!important;color:#000!important;}
.nf-haus-brightgreen
{background-color:var(--nf-haus-brightgreen)!important;color:#000!important;}
.nf-haus-darkgreen
{background-color:var(--nf-haus-darkgreen)!important;color:#fff!important;}
